.box_item {
    background: #e0dfdf;
}

.box_item_head,
.box_item_body,
.box_item_footer {
    padding: 30px;
}

.object_form {
    display: flex;
    flex-direction: row;
    justify-content	: space-between;
}
