/*   ----       TOPBAR        ----   */
#topbar .icon, h2, h1 {
    color: var(--color_font_third);
}

#topbar .icon {
    cursor: pointer;
    padding: 0px 2px;
}

/*   ----       TOPBAR - LOGO        ----   */
#topbar_logo {
    height: 70px;
    background: var(--color_first);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 280px;
}

#page_logo {
    width: 50px;
    padding: calc((70px - 36.563px) / 2) 15px;
    fill: var(--color_second);
}

#page_title {
    font-size: 1.8em;
    padding: 0px 15px;
}

/*   ----       TOPBAR - PANEL        ----   */
#topbar_pannel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
    width: calc(100vw - 280px);
}

/*   ----       TOPBAR - SEARCH        ----   */
#site_search {
    border: none;
    padding: 6px 30px;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.182);
}

#site_search::placeholder {
    color: var(--color_font_third);
}

#site_search:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.182);
    color: var(--color_font_third);
}

/*   ----       TOPBAR - MENU        ----   */
#topbar_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#topbar_menu > div {
    padding-left: 30px;
}

/*   ----       TOPBAR - NOTIFICATIONS        ----   */
#notifications_list {
    position: absolute;
    user-select: none;
    top: 70px;
    right: 20px;
    width: 400px;
    z-index: 1001;
}

#notifications_list h3, a {
    color: var(--color_font_first);
}

#notifications_list_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background: var(--color_third);
}

#notifications_empty,
#notifications_list_body {
    padding: 20px;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: auto;
}

#notifications_empty {
    flex-direction: row;
    justify-content: center;
}

.notification_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.notification_item:not(:last-child) {
    margin-bottom: 20px;
}

.notification_icon {
    font-size: 20px;
    padding: 15px;
    border-radius: 10em;
    margin-right: 20px;
}

#notifications_empty .icon {
    font-size: 3em;
    color: var(--color_light_red)
}

.notification_item.blue .notification_icon {
    background: var(--color_light_blue);
}

.notification_item.red .notification_icon {
    background: var(--color_light_red);
}

.notification_item.yellow .notification_icon {
    background: var(--color_light_yellow);
}

.notification_item.violet .notification_icon {
    background: var(--color_light_violet);
}

.notification_item.green .notification_icon {
    background: var(--color_light_green);
}

.notification_item.blue .icon {
    color: var(--color_strong_blue)!important;
}

.notification_item.red .icon {
    color: var(--color_strong_red)!important;
}

.notification_item.yellow .icon {
    color: var(--color_strong_yellow)!important;
}

.notification_item.violet .icon {
    color: var(--color_strong_violet)!important;
}

.notification_item.green .icon {
    color: var(--color_strong_green)!important;
}

#notifications_list_footer {
    padding: 20px;
    background: var(--color_third);
}
