#page {

    /* Main page colors */
    --color_first: #1d875b;
    --color_third: #ffffff;

    /* Main font colors */
    --color_font_first: #4c4c4c;
    --color_font_second: #e6e6e6;
    --color_font_third: #fefeff;

    /* Light colors */
    --color_light_blue: #c3e0f7;
    --color_light_green: #a8f0cc;
    --color_light_yellow: #ffefce;
    --color_light_violet: #d5a8f3;
    --color_light_red: #f6c6d3;
    --color_light_gray: #95a4c8;

    /* Strong colors */
    --color_strong_blue: #548be9;
    --color_strong_green: #4db478;
    --color_strong_yellow: #d29c30;
    --color_strong_violet: #934bb7;
    --color_strong_red: #f55e7a;
    --color_strong_gray: #4e6f99;

}

#page.green {

    /* Main page colors */
    --color_first: #1d875b; 
    --color_second: #323232;
    
}

#page.red {

    /* Main page colors */
    --color_first: #da4f4f;
    
}

/*   -----   PAGE SCROLL   -----   */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgb(244, 246, 246);
    margin: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(184, 186, 186);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(121, 123, 123);
}

@font-face {
    font-family: 'Font icons';
    font-style: normal;
    src: url('../src/assets/font_icons.woff2') format('woff');
}

.icon {
    font-family: 'Font icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

button, span, input, label, input, option, select, h1, h2, h3, h4, h5, h5, a, p, q, i, li, td, th {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 1em;
}

.hidden {
    display: none!important;
    opacity: 0;
}
