 /* --------------------------------------   */
/*   ----        MAIN VALUES         ----   */
#page {

    /* Main page colors */
    --color_first: #226acf;
    --color_second: #e9ecef;
    --color_third: #ffffff;

    /* Main font colors */
    --color_font_first: #4c4c4c;
    --color_font_second: #6f6f6f;
    --color_font_third: #eff1f6;

    /* Light colors */
    --color_light_blue: #c3e0f7;
    --color_light_green: #a8f0cc;
    --color_light_yellow: #ffefce;
    --color_light_violet: #d5a8f3;
    --color_light_red: #f6c6d3;
    --color_light_gray: #95a4c8;

    /* Strong colors */
    --color_strong_blue: #548be9;
    --color_strong_green: #4db478;
    --color_strong_yellow: #d29c30;
    --color_strong_violet: #934bb7;
    --color_strong_red: #f55e7a;
    --color_strong_gray: #4e6f99;

    /* Main table colors */
    --color_table_first: #f2f2f2;
    --color_table_second: #e1e1e1;
  
    /* Main scrollbar colors */
    --color_scrollbar_first: rgb(244, 246, 246);
    --color_scrollbar_second: rgb(184, 186, 186);
    --color_scrollbar_third: rgb(121, 123, 123);

    /* Time */
    --time_sidebar: 300ms;

    /* Main values */
    --main_border: 1px solid rgb(200, 200, 200);
    --main_shadow_light: 0 0 0.2rem 0.1rem rgb(0 0 0 / 5%);
    --main_shadow_strong: 0 0 0.2rem 0.1rem rgb(0 0 0 / 10%);
    --main_transition: transform 400ms ease;
    --main_sidebar_transition: transform 300ms ease 100ms;
    --main_img_opacity: 1;

    /* Main dimensions values */
    --page_top: 60px;
    --sidebar: 60px;
    --bigbar: 260px;
    --box_heder: 20px;

}

#page.dark {

    /* Main page colors */
    --color_first: #2b2a2a;
    --color_second: #000000;
    --color_third: #1f1f1f;

    /* Main font colors */
    --color_font_first: #e2e2e2;
    --color_font_second: #dbdada;
    --color_font_third: #c7c7c7;
    
    /* Strong colors */
    --color_strong_blue: #4e6b9d;
    --color_strong_green: #479467;
    --color_strong_yellow: #967b43;
    --color_strong_violet: #6f4088;
    --color_strong_red: #8a3a48;
    --color_strong_gray: #41618c;

    /* Main table colors */
    --color_table_first: #2b2b2b;
    --color_table_second: #0a0a0a;
  
    /* Main scrollbar colors */
    --color_scrollbar_first: rgb(89, 89, 89);
    --color_scrollbar_second: rgb(50, 50, 50);
    --color_scrollbar_third: rgb(27, 27, 27);

    /* Main values */
    --main_border: none;
    --main_shadow_light: 0 0 0.2rem 0.1rem rgba(155, 155, 155, 0.1);
    --main_shadow_strong: 0 0 0.2rem 0.1rem rgba(84, 84, 84, 0.2);
    --main_img_opacity: 0.7;
    
}

 /* --------------------------------------   */
/*   ----       MAIN SETTINGS        ----   */
button, span, input, label, input, option, select, h1, h2, h3, h4, h5, h5, a, p, q, i, li, td, th {
    font-family: "Alegreya Sans SC", sans-serif;
    color: var(--color_font_first);
    font-size: 1em;
}

.submenu_hidden {
    display: none;
}

.hidden {
    display: none;
    opacity: 0;
}

.rotate {
    transform: rotate(180deg);
}

.show {
    opacity: 1!Important;
    display: block!Important;
}

    /*   -----   PAGE SCROLL   -----   */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: var(--color_scrollbar_first);
        margin: var(--main_padding) 0px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color_scrollbar_second);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--color_scrollbar_third);
    }

    /*   ----             ANIMATED BUTTON           ----   */
    .animated_button {
        cursor: pointer;
    }

    .animated_button:hover {
        transform: scale(1.2)
    }

    .animated_button:active {
        transform: scale(0.9)
    }
