/*   -------------------------------   */
/*   -----  MOBILE - SIDEBAR  -----   */

    /*   -----   MEDIA <= 768px   -----   */
    @media only screen and (max-width: 768px) {

        /*   ----     MAIN PAGE SETTINGS     ----   */
        a, p, h1, h2, h3, h4, h5, h5, span, q, i {
            font-size: 1.1em;
        }

    }


/*   --------------------------   */
/*   -----   MOBILE   -----   */

    /*   -----   MEDIA >= 769px   -----   */
    @media only screen and (min-width: 769px) {

        
        /*   ----        BOX CONTAINER       ----   */
        .box_container_four {
            grid-template-columns: repeat(2, auto);
        }

    }


    /*   -----   MEDIA >= 992px   -----   */
    @media only screen and (min-width: 992px) {

        
        /*   ----        BOX CONTAINER       ----   */
        .box_container_three {
            grid-template-columns: repeat(2, auto);
        }

        .box_container_four {
            grid-template-columns: repeat(3, auto);
        }

        .box_container_six {
            grid-template-columns: repeat(3, auto);
        }

        /*   ----        BOX ITEM CONTENT        ----   */
        .box_item_content_form .form {
            grid-template-columns: repeat(2, auto);
        }

    }


    /*   -----   MEDIA >= 1200px   -----   */
    @media only screen and (min-width: 1200px) {

        /*   ----        BOX CONTAINER       ----   */
        .box_container_two {
            grid-template-columns: repeat(2, auto);
        }

        .box_container_four {
            grid-template-columns: repeat(3, auto);
        }
        
        .box_container_six {
            grid-template-columns: repeat(4, auto);
        }

    }


    /*   -----   MEDIA >= 1400px   -----   */
    @media only screen and (min-width: 1400px) {

        /*   ----        BOX CONTAINER      ----   */
        .box_container_three {
            grid-template-columns: repeat(3, auto);
        }
        
        .box_container_four {
            grid-template-columns: repeat(4, auto);
        }

        .box_container_six {
            grid-template-columns: repeat(6, auto);
        }

    }


    /*   -----   MEDIA >= 1600px   -----   */
    @media only screen and (min-width: 1600px) {

        /*   ----        BOX CONTAINER      ----   */
        .box_container_six {
            grid-template-columns: repeat(7, auto);
        }
        
        .box_container_four {
            grid-template-columns: repeat(5, auto);
        }

        .box_item_content_form form {
            grid-template-columns: repeat(3, auto);
        }

    }


    /*   -----   MEDIA >= 1800px   -----   */
    @media only screen and (min-width: 1800px) {

        /*   ----        BOX CONTAINER       ----   */
        .box_container_six {
            grid-template-columns: repeat(8, auto);
        }

    }
