 /*   ------------------------------------   */
/*   ----       PAGE - TOPBAR        ----   */
#page_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    user-select: none;
}

#page_top i, h2 {
    color: var(--color_font_third);
}

.toppanel_button {
    font-size: 1.1em;
    cursor: pointer;
}

    /*   ----           SEARCH           ----   */
    #site_search {
        border: none;
        padding: 6px 30px;
        border-radius: 10px;
        width: 100%;
        text-align: center;
        background: rgba(255, 255, 255, 0.1);
    }

    #site_search::placeholder {
        color: var(--color_font_third);
    }

    #site_search:focus {
        outline: none;
        background: rgba(255, 255, 255, 0.2);
        color: var(--color_font_third);
    }

    /*   ----           PAGE TITLE           ----   */
    #page_top_title {
        text-transform: uppercase;
    }

    /*   ----           ACTIONS AND COLOR CHANGE           ----   */
    #actions_and_colors {
        display: flex;
        align-items: center;
    }

    #actions_and_colors > div {
        margin-left: 25px;
    }

    #actions_and_colors > div > i {
        padding: 3px;
    }

        /*   ----           ACTIONS           ----   */
        #page_top_actions {
            font-size: 1.2em;
        }

        /*   ----           COLOR CHANGE           ----   */
        #page_top_color {
            font-size: 1.2em;
        }

        #page_top_color i {
            border-radius: 10px;
        }

        #page_top_color .active {
            background: var(--color_font_third);
            color: var(--color_font_first)
        }



 /*   -------------------------------------------------   */
/*   ----       TOPBAR - NOTIFICATION LIST        ----   */
.notification_list {
    position: relative;
}

.notification_list_button {
    font-size: 20px;
    height: 20px;
    cursor: pointer;
}

.notification_list_menu {
    opacity: 0;
    position: absolute;
    display: none;
    user-select: none;
    top: 30px;
    right: 0px;
    width: 400px;
    border-radius: 10px;
    background: var(--color_third);
    box-shadow: var(--main_shadow_strong);
    z-index: 1001;

    transition-timing-function: ease;
    transition-duration: 1000ms;
    transition-property: opacity;
}

    /*   ----        NOTIFICATION LIST - ALERT NUMBER        ----   */
    .notification_list_alert {
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 0.6em;
        font-weight: bold;
        padding: 4px;
        border-radius: 10em;
        background: var(--color_strong_red);
        color: var(--color_font_third)
    }

    /*   ----        NOTIFICATION LIST - TOP        ----   */
    .notification_menu_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-bottom: var(--main_border);
    }

    .notification_menu_top h3 {
        text-transform: uppercase;
    }

    .notification_menu_top a {
        font-size: 0.8em;
    }

    /*   ----        NOTIFICATION LIST - CONTENT        ----   */
    .notification_menu_content {
        max-height: 250px;
        overflow-y: auto;
    }

    .notification_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        cursor: pointer;
    }

    .notification_item > i {
        font-size: 20px;
        padding: 15px;
        border-radius: 10em;
    }

    .notification_item > span {
        margin-left: 15px;
    }

        /*   ----        NOTIFICATION LIST - CONTENT COLORS        ----   */
        #page_top .notification_item.blue i {
            background: var(--color_light_blue);
            color: var(--color_strong_blue);
        }

        #page_top .notification_item.red i {
            background: var(--color_light_red);
            color: var(--color_strong_red);
        }
        
        #page_top .notification_item.yellow i {
            background: var(--color_light_yellow);
            color: var(--color_strong_yellow);
        }
        
        #page_top .notification_item.green i {
            background: var(--color_light_green);
            color: var(--color_strong_green);
        }

    /*   ----        NOTIFICATION LIST - BOTTOM        ----   */
    .notification_menu_bottom {
        display: flex;
        justify-content: center;
        padding: 15px;
        border-top: var(--main_border);
    }

    /*   -----   NOTIFICATION LIST - SCROLL   -----   */
    .notification_menu_content::-webkit-scrollbar {
        display: none;
        width: 4px;
    }

    .notification_list_menu:hover .notification_menu_content::-webkit-scrollbar {
        display: block;
    }
